<mat-toolbar>
    <mat-toolbar-row>
        <span>Various Ways of Handling Errors in RXJS</span>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="['/catch-error']">
                Catch Error
            </a>
            <a mat-button [routerLink]="['/rethrow-error']">
                Rethrow Error
            </a>
            <a mat-button [routerLink]="['/retry-error']">
                Retry Error
            </a>
        </div>
    </mat-toolbar-row>

</mat-toolbar>
<div style="text-align: center; padding-top: 40px;">
    <router-outlet></router-outlet>
</div>
